<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>ALPHA BLOG</h1>
      <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
    </div>
  </body>
</html>
